%h1 Listing Devices
-if can? :manage, @device
  .button=link_to "Create New Device", new_device_path
%table#devices_table
  %tr
    %th Name
    %th Type
    %th Interface
    %th Address
    %th Connected
    -if can? :manage, @device
      %th Ping
      %th Manage
    -#%th Created At
    -#%th Updated At

  - @devices.each do |dev|
    %tr
      %td= link_to dev.name, device_path(dev)
      %td= dev.device_type
      %td= dev.interface
      %td= dev.address
      - if dev.connected?
        %td Yes
      - else
        %td No
      -if can? :manage, @device
        - if dev.connected?
          %td= link_to "Ping", device_ping_path(dev)
        - else
          %td= link_to "Connect", device_connect_path(dev)
        %td
          = link_to "Edit", edit_device_path(dev)
          = link_to "Delete", device_path(dev), method: :delete
      -#%td= dev.created_at
      -#%td= dev.updated_at