%h1 Listing Devices
.button=link_to "Create New Device", new_device_path
%table#devices_table
  %tr
    %th Name
    %th Type
    %th Interface
    %th Address
    %th Connected
    %th Ping
    %th Ping Status
    -if can? :manage, @device
      %th Manage
    -#%th Created At
    -#%th Updated At

  - @devices.each do |dev|
    %tr
      %td= link_to dev.name, device_path(dev)
      %td= dev.device_type
      %td= dev.interface
      %td= dev.address
      - if dev.connected?
        %td Yes
        %td= link_to "Ping", device_ping_path(dev)
      - else
        %td No
        %td= link_to "Connect", device_connect_path(dev)
      - if dev.id.to_s.eql? @ping_id
        %td= @ping_sta
      - else
        %td
      -if can? :manage, @device
        %td
          = link_to "Edit", edit_device_path(dev)
          = link_to "Delete", device_path(dev), method: :delete
      -#%td= dev.created_at
      -#%td= dev.updated_at