%h1 Listing Devices

%table
   %tr
      %th Name
      %th Type
      %th Interface
      %th Address
      %th Status
      %th Ping
      %th Ping Status
      -#%th Created At
      -#%th Updated At

   - @devices.each do |dev|
      %tr
         %td= link_to dev.name, device_path(dev)
         %td= dev.device_type
         %td= dev.interface
         %td= dev.address
         %td= dev.connected?
         %td= link_to "Ping", device_ping_path(dev)
         - if dev.id.to_s == @ping_id
            %td= @ping_sta
         - else
            %td
         -#%td= dev.created_at
         -#%td= dev.updated_at